<h1 [ngClass]="{
  'gray': h1Style
}">Home</h1>

<p [ngStyle]="{
  'color': h1Style ? 'gray' : 'black'
  }">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse et fugiat quas quisquam. 
  Ipsum, odio consectetur maxime assumenda harum sed impedit autem, 
  et asperiores dolores fuga praesentium quisquam, explicabo distinctio?
</p>

<button (click)="firstClick()" class="btn-blue">Click me</button>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li>
</ul>